@charset "UTF-8";
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  transition: 0.3s ease-in-out;
  z-index: 9999;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}
.header.on-nav .header-nav {
  transform: translateX(0);
}
.header.on-nav .header-toggle-navi span:nth-child(1) {
  top: 1.5rem;
  transform: rotate(45deg);
}
.header.on-nav .header-toggle-navi span:nth-child(2) {
  opacity: 0;
}
.header.on-nav .header-toggle-navi span:nth-child(3) {
  top: 1.5rem;
  transform: rotate(-45deg);
}
.header.fade-nav .header-nav:before {
  transform: translateX(0);
}
.header.fade-nav .primary-menu, .header.fade-nav .nandemo {
  transform: translateX(0);
}
.header-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  z-index: 10;
  flex: 1;
  transition: 0.3s ease-in-out;
}
@media (min-width: 969px) {
  .header-logo {
    justify-content: center;
  }
}
.header-logo img {
  height: auto;
}
.header-logo a {
  width: 3.6rem;
  line-height: 0;
}
.header-contact {
  background-color: #fff;
  margin: 3rem -1.5rem 0;
  padding: 2rem 1.5rem;
}
@media (min-width: 768px) {
  .header-contact {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .header-contact ul li + li {
    margin-left: 1rem;
  }
}
@media (min-width: 969px) {
  .header-contact ul li + li {
    margin-left: 3.5rem;
  }
}
.header-contact ul li img {
  width: 1.6rem;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}
.header .container {
  align-items: center;
}
@media (max-width: 968px) {
  .header .menu-header-menu-container {
    width: 100%;
  }
}
.header-nav {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: auto;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  background-color: #0B0742;
  z-index: 9999;
}
@media (max-width: 968px) {
  .header-nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10rem 1.5rem;
  }
}
@media (min-width: 969px) {
  .header-nav {
    height: auto;
    overflow: inherit;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-color: transparent;
    transform: translateX(0);
  }
}
.header-nav .menu {
  list-style: none;
}
@media (min-width: 768px) {
  .header-nav .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media (min-width: 969px) {
  .header-nav .menu-item {
    padding-top: 3.05rem;
    padding-bottom: 3.05rem;
  }
}
.header-nav .menu-item.active > a {
  color: #5E72EB;
  font-weight: 700;
}
.header-nav .menu-item + .menu-item {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .header-nav .menu-item + .menu-item {
    margin-left: 3rem;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .header-nav .menu-item + .menu-item {
    margin-left: 5rem;
    margin-top: 0;
  }
}
.header-nav .menu-item a {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
}
@media (min-width: 969px) {
  .header-nav .menu-item a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .header-nav .menu-item a {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .header-nav .menu-item:hover > .sub-menu {
    top: 100%;
    opacity: 1;
    pointer-events: auto;
  }
}
.header-nav .sub-menu {
  display: none;
  list-style: none;
  z-index: 2;
  padding-left: 4rem;
}
@media (min-width: 969px) {
  .header-nav .sub-menu {
    display: block;
    position: absolute;
    width: calc(100% + 15rem);
    top: 100%;
    left: 42.2%;
    transform: translateX(-50%);
    padding: 2rem 0;
    background-color: #ffffff;
    border: solid thin #ccc;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
}
.header-nav .sub-menu li {
  white-space: nowrap;
}
.header-nav .sub-menu li::before {
  display: none;
}
.header-nav .sub-menu li a {
  display: inline-block;
  padding: 1rem 2rem;
}
@media (min-width: 768px) {
  .header-nav .sub-menu li a {
    min-width: 18rem;
    color: #0B0742;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
.header-toggle-navi {
  width: 4rem;
  height: 3.5rem;
  padding: 0;
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  border: 0;
  z-index: 99999;
}
@media (min-width: 969px) {
  .header-toggle-navi {
    display: none;
  }
}
.header-toggle-navi span {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  border-radius: 0.3rem;
  transition: 0.3s ease-in-out;
}
.header-toggle-navi span:nth-child(1) {
  top: 0;
}
.header-toggle-navi span:nth-child(2) {
  top: 1.5rem;
}
.header-toggle-navi span:nth-child(3) {
  top: 3rem;
}
.header .language {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .header .language {
    margin-top: 0;
  }
}
.header .language img {
  width: 1.6rem !important;
  height: 1.1rem !important;
  margin-right: 0.5rem;
}
.header .language select {
  border: none;
  outline: none;
}
.header .header-top {
  justify-content: space-between;
}

.user {
  position: relative;
  width: 100%;
}
@media (min-width: 969px) {
  .user {
    width: unset;
  }
}
.user-icon {
  cursor: pointer;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.user-icon img {
  width: 2.4rem;
}
@media (min-width: 969px) {
  .user-icon {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
  }
}
.user:hover ul {
  opacity: 1;
  visibility: visible;
  display: block;
}
.user ul {
  opacity: 0;
  display: none;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
@media (min-width: 969px) {
  .user ul {
    background-color: #fff;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 100%;
  }
}
@media (min-width: 969px) {
  .user ul li {
    font-size: 1.6rem;
  }
}
@media (max-width: 968px) {
  .user ul li a {
    color: #fff;
  }
}

.footer .service-slider {
  width: 100%;
}
.footer .service-slider img {
  width: 7rem;
}
.footer .service-items {
  margin: 1rem;
}
@media (min-width: 969px) {
  .footer .service-items {
    margin: 0.25rem;
  }
}
.footer-main {
  margin-top: -8.25rem;
}
.footer .contact-nav ul {
  display: block;
  word-break: break-word;
}
@media (max-width: 968px) {
  .footer .contact-nav ul li {
    margin-top: 0;
  }
}
.footer .contact-nav ul li + li {
  margin-top: 1rem;
}
.footer .contact-nav ul a {
  color: #ffffff;
  font-size: 1.4rem;
}
@media (min-width: 969px) {
  .footer .contact-nav ul a {
    align-items: start !important;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.footer .contact-nav ul img {
  width: 1.6rem;
  display: inline-block;
  margin: 0 0.7rem 0 0;
}
@media (min-width: 969px) {
  .footer .contact-nav ul img {
    margin: 0.4rem 0.5rem 0 0;
  }
}
.footer .menu {
  list-style: none;
}
@media (min-width: 768px) {
  .footer .menu {
    width: 100%;
    margin: 0;
  }
}
.footer .menu .menu-item-has-children {
  font-weight: 700;
}
.footer .menu-item {
  color: #fff;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer .menu-item {
    font-size: 1.6rem;
  }
}
.footer .menu-item + .menu-item {
  margin-top: 1rem;
}
.footer .menu-item .sub-menu {
  list-style: none;
  margin-top: 1.7rem;
}
.footer .menu-item .sub-menu .menu-item {
  width: 100%;
  font-weight: 400;
  margin: 0;
  color: #fff;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .footer .menu-item .sub-menu .menu-item {
    font-size: 1.6rem;
  }
}
.footer .menu-item .sub-menu .menu-item a span {
  color: #4A90E2;
}
.footer .menu-item .sub-menu .menu-item + .menu-item {
  margin-top: 0.5rem;
}
.footer-logo {
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  margin-bottom: 4rem;
}
@media (min-width: 969px) {
  .footer-logo {
    justify-content: start;
    margin: 0;
  }
}
.footer-logo a {
  width: 3.6rem;
  display: block;
}
@media (min-width: 969px) {
  .footer-logo a {
    width: 6rem;
  }
}
.footer-logo img {
  height: auto;
}
.footer .contact-nav {
  width: 42.5%;
}
@media (min-width: 969px) {
  .footer-logo, .footer .contact-nav {
    width: 20%;
  }
}
.footer .menu-footer-menu-container {
  width: 42.5%;
}
@media (min-width: 969px) {
  .footer .menu-footer-menu-container {
    width: 15%;
  }
}
@media (max-width: 968px) {
  .footer #mailpoet_form_1 {
    margin-top: 3rem;
  }
}
.footer #mailpoet_form_1 .email {
  margin-top: 3.5rem;
  width: calc(100% - 13rem);
  float: left;
}
.footer #mailpoet_form_1 .email input {
  background-color: transparent;
  border: 0.1rem solid #C5C8DE;
  border-radius: 0 !important;
  border-right: 0;
  padding: 1.4rem !important;
  color: #fff;
  font-size: 1.4rem !important;
  height: 5rem;
}
@media (min-width: 969px) {
  .footer #mailpoet_form_1 .email input {
    font-size: 1.6rem !important;
    height: auto;
  }
}
.footer #mailpoet_form_1 .email input:focus {
  outline: none;
}
@media (min-width: 969px) {
  .footer #mailpoet_form_1 {
    width: 30% !important;
  }
}
.footer #mailpoet_form_1 .btn-wrap {
  margin-top: 3.5rem;
  width: 13rem;
  float: right;
}
.footer #mailpoet_form_1 .btn-wrap input {
  border-radius: 0 !important;
  background-color: #5E72EB;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  padding: 1.4rem !important;
  font-size: 1.4rem !important;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 5rem;
}
@media (min-width: 969px) {
  .footer #mailpoet_form_1 .btn-wrap input {
    height: auto;
    padding: 1.3rem !important;
    font-size: 1.6rem !important;
  }
}

.breadcrumb {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.breadcrumb li {
  font-size: 1.2rem;
}
.breadcrumb li.active {
  color: #000000;
}
.breadcrumb li a {
  color: #0B0742;
}
.breadcrumb li::after {
  content: "/";
  width: 2.5em;
  padding: 0 0.7em;
}
.breadcrumb li:last-child::after {
  display: none;
  width: 0;
  padding: 0;
}

h2,
h3,
h4 {
  font-weight: 700;
}

.backtotop {
  width: 4.7rem;
  height: 4.7rem;
  display: none;
  background: #000000;
  color: #ffffff;
  border: 0;
  padding: 0;
  position: fixed;
  bottom: 28rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 9;
}
.backtotop:hover {
  opacity: 0.7;
}
.backtotop.nologin {
  bottom: 90px;
}
@media (min-width: 969px) {
  .backtotop.nologin {
    bottom: 8rem;
  }
}

.btn {
  background-color: #FF5200;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .btn {
    min-width: 16rem;
    font-size: 1.6rem;
  }
}

.pagination_text {
  color: #000000;
  display: inline-block;
  min-width: 10.5rem;
  padding: 0.75rem 0.5rem;
  border: solid thin #c4c4c4;
  border-right: none;
}
.pagination .page-numbers {
  width: 3.4rem;
  height: 3.4rem;
  font-size: 1.8rem;
}
.pagination a.page-numbers {
  padding: 0.75rem 0;
  color: #ffffff;
  background-color: #0F70A9;
  line-height: 1;
  text-align: center;
  border-bottom: 1px solid #0F70A9;
  margin-right: 1rem;
}
.pagination a.page-numbers.next {
  padding: 0.65rem 0;
  font-size: 2rem;
}
.pagination a.page-numbers.prev {
  font-size: 2rem;
  margin-right: 1rem;
  padding: 0.65rem 0;
}
.pagination span.page-numbers {
  padding: 0.75rem 0;
  line-height: 1;
  text-align: center;
  border-right: none;
  display: inline-block;
  border: solid thin #0F70A9;
}
.pagination span.page-numbers:not(.dots) {
  color: #000000;
  margin-right: 1rem;
}

.list-style-none {
  list-style: none;
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
  margin-top: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 969px) {
  .form-wrap .wpforms-form .wpforms-field-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.form-wrap .wpforms-form .wpforms-field-container input, .form-wrap .wpforms-form .wpforms-field-container textarea {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  padding: 1.5rem !important;
  font-size: 1.6rem !important;
  color: #2C2862 !important;
  border-radius: 0 !important;
  border: 0.1rem solid #C5C8DE !important;
  max-width: none !important;
  height: auto !important;
}
.form-wrap .wpforms-form .wpforms-field-container input:focus, .form-wrap .wpforms-form .wpforms-field-container textarea:focus {
  border-color: #5E72EB !important;
}
.form-wrap .wpforms-form .wpforms-field-container textarea {
  height: 24rem !important;
}
.form-wrap .wpforms-form .wpforms-field-container::-moz-placeholder {
  color: #C5C8DE !important;
}
.form-wrap .wpforms-form .wpforms-field-container::placeholder {
  color: #C5C8DE !important;
}
.form-wrap .wpforms-form .wpforms-field-container .wpforms-field {
  width: 100%;
}
@media (min-width: 969px) {
  .form-wrap .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-email, .form-wrap .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-number {
    width: 49%;
  }
}
.form-wrap .wpforms-form button[type=submit] {
  padding: 1.5rem !important;
  font-size: 1.6rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid #5E72EB !important;
  background-color: #5E72EB !important;
  font-weight: bold;
  color: #ffffff !important;
}

.label {
  display: inline-block;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 969px) {
  .label {
    font-size: 1.6rem;
  }
}
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.label .checkmark {
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.2rem;
  background-color: #EDEEF5;
}
.label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.6rem;
  top: 0.2rem;
  width: 0.3rem;
  height: 0.9rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}
.label:hover input ~ .checkmark {
  background-color: #EDEEF5;
}
.label input:checked ~ .checkmark {
  background-color: #5E72EB;
}
.label input:checked ~ .checkmark:after {
  display: block;
}

.count-post {
  float: right;
  color: #C5C8DE;
}

.tags ul {
  margin: 0 -0.5rem;
}
.tags ul li {
  margin: 0.5rem;
  position: relative;
  width: auto;
  height: 4.8rem;
  float: left;
  border: 0.1rem solid #C5C8DE;
  box-sizing: border-box;
}
.tags ul li .checkmark {
  width: 100%;
  height: 100%;
  padding: 1.2rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.tags ul li input {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 1.2rem 1.6rem;
  left: 0;
  width: 100%;
  height: 4.8rem;
  opacity: 0;
  cursor: pointer;
}
.tags ul li input[type=checkbox]:checked ~ .checkmark {
  background-color: #5E72EB;
  border-color: #5E72EB;
  color: #fff;
}

@media (max-width: 968px) {
  .woocommerce-product-search {
    width: 100%;
  }
}
.woocommerce-product-search input {
  padding: 2rem 3.5rem;
  width: 100%;
  background: transparent;
  border: 0.1rem solid #f5f5f5;
  color: #fff;
  font-size: 1.6rem;
  position: relative;
}
@media (min-width: 969px) {
  .woocommerce-product-search input {
    padding: 3rem 4.7rem;
    border-top: 0;
    border-bottom: 0;
  }
}
.woocommerce-product-search input::before {
  content: "";
  position: absolute;
  background: url(../images/bx-search.png) left no-repeat;
  background-size: cover;
  width: 1.4rem;
  height: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
.woocommerce-product-search input:focus {
  outline: none;
}
.woocommerce-product-search ::-moz-placeholder {
  color: #2C2862;
}
.woocommerce-product-search ::placeholder {
  color: #2C2862;
}

/* Định dạng tiêu đề */
.woocommerce form.login h2,
.woocommerce form.register h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Định dạng các trường nhập liệu */
.woocommerce form.login input[type=text],
.woocommerce form.login input[type=password],
.woocommerce form.register input[type=text],
.woocommerce form.register input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Định dạng nút "Đăng nhập" và "Đăng ký" */
.woocommerce form.login .button,
.woocommerce form.register .button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

.woocommerce form.login .button:hover,
.woocommerce form.register .button:hover {
  background-color: #0056b3;
}

/* Định dạng liên kết quên mật khẩu */
.woocommerce form.login .lost_password,
.woocommerce form.register .lost_password {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

/* Định dạng thông báo lỗi */
.woocommerce form.login .woocommerce-error,
.woocommerce form.register .woocommerce-error {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

/* Định dạng thông báo thành công */
.woocommerce form.login .woocommerce-message,
.woocommerce form.register .woocommerce-message {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
}
.modal-on {
  display: flex;
}
.modal-fade .modal-content {
  transform: translateY(0);
}
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.modal-content {
  width: 100%;
  max-width: calc(100% - 4rem);
  margin: 4rem auto 8rem;
  background-color: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 969px) {
  .modal-content {
    max-width: 92rem;
    margin: 2rem auto 4rem;
    border-radius: 2.4rem;
  }
}
.modal-header {
  width: 100%;
  position: relative;
  color: #004C79;
  padding: 3rem 1.5rem 2rem;
  font-weight: 700;
}
@media (min-width: 969px) {
  .modal-header {
    padding: 5.2rem 0 4.7rem;
  }
}
.modal-header .close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  background-image: url("../images/close.png");
  background-size: cover;
  border: 0;
}
@media (min-width: 969px) {
  .modal-header .close {
    width: 2.4rem;
    height: 2.4rem;
    top: 2.4rem;
    right: 2.4rem;
  }
}
.modal-body {
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 1.5rem 2rem;
  line-height: 1.7;
  font-size: 1.6rem;
}
@media (min-width: 969px) {
  .modal-body {
    padding: 0 4rem 5rem;
  }
}
.modal-body ul, .modal-body ol {
  padding-left: 2rem;
  margin-bottom: 3rem;
}
.modal-body h2, .modal-body h3, .modal-body h4 {
  font-weight: 400;
}
.modal-body h2 + ul, .modal-body h2 + ol, .modal-body h3 + ul, .modal-body h3 + ol, .modal-body h4 + ul, .modal-body h4 + ol {
  padding-left: 4rem;
}

.loader {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  border: none;
  border-radius: 0;
}
.loader.active {
  display: flex;
}
.loader span {
  border: 1rem solid #ffffff;
  border-top: 1rem solid #2C2862;
  border-radius: 50%;
  width: 5rem;
  height: 5rem; /* Safari */
  animation: spin 2s linear infinite;
}
.loader::before {
  background: none !important;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-visual-info {
  max-width: 76rem;
  margin-left: auto;
}
.main-visual-button .btn-buy {
  width: 13.8rem !important;
  font-size: 1.8rem !important;
  height: 6.3rem !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: inherit !important;
  opacity: 1 !important;
  visibility: inherit !important;
}
@media (max-width: 968px) {
  .main-visual-button .btn-buy {
    padding: 1rem !important;
    width: 12rem !important;
    height: 4rem !important;
    font-size: 1.6rem !important;
  }
}
.main-visual .slick-dots {
  bottom: 5rem;
  z-index: 999;
}
@media (min-width: 969px) {
  .main-visual .slick-dots {
    bottom: 10rem;
  }
}
.main-visual .slick-dots li {
  width: 4rem;
  height: 0.3rem;
  background-color: #2C2862;
}
@media (min-width: 969px) {
  .main-visual .slick-dots li {
    width: 6rem;
    height: 0.4rem;
  }
}
.main-visual .slick-dots li.slick-active {
  background-color: #5E72EB;
}
.main-visual .slick-dots li button {
  width: 100%;
  height: 100%;
}
.main-visual .slick-dots li button::before {
  content: "";
}

.ico-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
@media (min-width: 969px) {
  .ico-arrow {
    width: 6.3rem;
    height: 6.3rem;
  }
}
.ico-arrow .arrow-right {
  width: 0;
  height: 0;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-left: 0.6rem solid #5E72EB;
}
.ico-arrow.blue {
  background-color: #2C2862;
}
.ico-arrow.blue .arrow-right {
  border-color: #5E72EB;
}

.btn-join {
  border: 0.1rem solid #5E72EB;
}
.btn-join a {
  width: 10rem;
  height: 4rem;
}
@media (min-width: 969px) {
  .btn-join a {
    width: 14.3rem;
    height: 6.3rem;
  }
}

@media (min-width: 969px) {
  .flash-sale-content {
    width: 58.5rem;
  }
}
@media (min-width: 969px) {
  .flash-sale-image {
    height: 59.2rem;
    width: calc(100% - 58.5rem);
  }
}
.flash-sale-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.flash-sale .ycd-simple-content-wrapper-82 .ycd-simple-countdown-number,
.flash-sale .ycd-simple-content-wrapper-82 .ycd-simple-timer-dots {
  font-size: 4rem;
}
@media (min-width: 969px) {
  .flash-sale .ycd-simple-content-wrapper-82 .ycd-simple-countdown-number,
  .flash-sale .ycd-simple-content-wrapper-82 .ycd-simple-timer-dots {
    font-size: 8rem;
  }
}

.line {
  width: 4rem;
  height: 0.5rem;
  background-color: #5E72EB;
  margin-left: auto;
  margin-bottom: 1.2rem;
}
.line.white {
  margin-left: 0;
  background-color: #ffffff;
}

.ycd-simple-current-unite-wrapper {
  color: #ffffff;
}

.ycd-all-content-wrapper {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
@media (min-width: 969px) {
  .ycd-all-content-wrapper {
    margin-top: 4rem;
    margin-bottom: 7rem;
  }
}

.blog-slider {
  margin: 0 -1.5rem;
}
.blog-items {
  margin: 1.5rem 4rem;
}
@media (min-width: 969px) {
  .blog-items {
    margin: 1.5rem;
  }
}
.blog-title {
  min-height: 3rem;
}
@media (min-width: 969px) {
  .blog-title {
    min-height: 5rem;
  }
}

.product {
  margin: 0 -1.5rem;
  position: relative;
}
.product-info {
  margin-bottom: 3.2rem;
}
.product-items {
  width: 100%;
  margin: 1.5rem 4rem;
}
@media (min-width: 969px) {
  .product-items {
    margin: 1.5rem;
    width: calc(25% - 3rem);
  }
}
.product-items:hover {
  cursor: pointer;
}
.product-items:hover .btn-buy {
  opacity: 1;
  visibility: visible;
  z-index: 99;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: none;
}
.product .tag {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 999;
}
.product .tag .price-sale, .product .tag .new-tag {
  width: 4rem;
  height: 4rem;
}
.product-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.product-bottom .btn-add-cart img {
  width: 1.9rem;
}
.product-image {
  overflow: hidden;
  height: 33rem;
}
.product-price {
  color: #0B0742;
  font-size: 1.6rem;
  min-height: 4.8rem;
}
.product-price del {
  display: block;
  color: #C5C8DE;
}
.product-price ins {
  text-decoration: none;
}
.product .btn-buy {
  width: calc(100% - 5rem);
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  padding: 1.5rem;
}
@media (max-width: 968px) {
  .product .btn-buy {
    height: 5rem;
  }
}

.woocommerce .star-rating {
  font-size: 1.6rem;
  margin-top: 0 !important;
  margin-left: 2rem !important;
}
.woocommerce .star-rating span::before {
  color: #5E72EB;
}
.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: calc(100% - 5rem);
}
.woocommerce-review-link {
  font-size: 1.6rem;
}

.tabs {
  list-style: none;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 969px) {
  .tabs {
    display: block;
  }
}
.tabs li {
  background: none;
  font-size: 1.6rem;
  color: #C5C8DE;
  display: inline-block;
  padding: 1.2rem 1.6rem;
  border: 0.1rem solid #C5C8DE;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  width: calc(50% - 2rem);
  margin: 1rem;
  text-align: center;
}
@media (min-width: 969px) {
  .tabs li {
    width: auto;
    margin: 0;
  }
  .tabs li:not(:first-child) {
    margin-left: 1rem;
  }
}
.tabs li.active {
  background: #5E72EB;
  color: #fff;
  border-color: #5E72EB;
  cursor: default;
}

.tab-content {
  height: 0;
  opacity: 0;
  position: relative;
  z-index: -1;
}
.tab-content .js-slide, .tab-content .slick-track {
  height: 0;
}
.tab-content.active {
  height: auto;
  transform: translateY(2rem);
  animation: fadeIn 0.5s ease 1 forwards;
  opacity: 1;
  z-index: 99;
}
.tab-content.active .js-slide {
  height: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.tab-content.active .slick-track {
  height: auto;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: none;
  }
}
.slick-btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #C5C8DE;
  background-color: #fff;
  z-index: 999;
}
.slick-btn::before {
  content: "";
}
@media (min-width: 969px) {
  .slick-btn {
    width: 6rem;
    height: 6rem;
  }
}
.slick-btn.slick-prev {
  left: 2rem;
}
@media (min-width: 969px) {
  .slick-btn.slick-prev {
    left: -8rem;
  }
}
.slick-btn.slick-next {
  right: 2rem;
}
@media (min-width: 969px) {
  .slick-btn.slick-next {
    right: -8rem;
  }
}
.slick-btn .arrow {
  border: solid black;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.3rem;
}
@media (min-width: 969px) {
  .slick-btn .arrow {
    padding: 0.2rem;
  }
}
.slick-btn .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.slick-btn .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.slick-btn:hover {
  border-color: #5E72EB;
  background-color: #5E72EB;
}
.slick-btn:hover .arrow {
  border-color: #fff;
}

@media (min-width: 969px) {
  .archive .product-wrap {
    width: calc(100% - 29rem);
  }
}
@media (min-width: 969px) {
  .archive .product-items {
    width: calc(33.3333333333% - 3rem);
  }
}

.side-bar {
  margin-right: 2.5rem;
}
@media (min-width: 969px) {
  .side-bar {
    width: 26.5rem;
  }
}

.hide {
  display: none !important;
}

.stock-tag {
  height: 4rem;
}

.priceFilter input[type=text] {
  padding: 0.5rem;
  font-size: 1.4rem;
  border: 0.1rem solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.priceFilter input[type=text]:focus {
  outline: none;
  border-color: #007bff;
}

/**
 * My Account
 */
.woocommerce-account p.order-again {
  text-align: right;
}
@media (min-width: 768px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 20%;
  }
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
  border-top: 0.1rem solid #eee;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  list-style: none;
  border-bottom: 0.1rem solid #eee;
  padding-bottom: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active {
  font-weight: bold;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  padding: 1rem 0.5rem;
  display: block;
}
.woocommerce-account .woocommerce-MyAccount-content {
  display: inline-block;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .woocommerce-account .woocommerce-MyAccount-content {
    margin-left: 5%;
    float: left;
    width: 75%;
  }
}
.woocommerce-account .woocommerce-MyAccount-content p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.woocommerce-account .woocommerce-MyAccount-content h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.woocommerce-account .woocommerce-MyAccount-content a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.woocommerce-account .woocommerce-MyAccount-content a:hover {
  color: #0056b3;
}
.woocommerce-account .woocommerce-EditAccountForm input[type=submit] {
  margin-top: 5rem;
  float: right;
}

/* Định dạng biểu mẫu và các trường nhập liệu */
.woocommerce-EditAccountForm {
  margin-bottom: 2rem;
}

.woocommerce-EditAccountForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.woocommerce-EditAccountForm input[type=text],
.woocommerce-EditAccountForm input[type=email],
.woocommerce-EditAccountForm input[type=password] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

/* Định dạng nút cập nhật thông tin */
.woocommerce-EditAccountForm button.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.woocommerce-EditAccountForm button.button:hover {
  background-color: #0056b3;
}

/* Định dạng thông báo thành công */
.woocommerce-EditAccountForm .woocommerce-message {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

/* Định dạng thông báo lỗi */
.woocommerce-EditAccountForm .woocommerce-error {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
  /* Định dạng lại kích thước và padding cho các trường nhập liệu */
  .woocommerce-EditAccountForm input[type=text],
  .woocommerce-EditAccountForm input[type=email],
  .woocommerce-EditAccountForm input[type=password] {
    font-size: 1.4rem;
    padding: 0.8rem;
  }
}
/* Định dạng tiêu đề */
.woocommerce-billing-fields h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Định dạng các trường nhập liệu */
.woocommerce-billing-fields label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.woocommerce-billing-fields input[type=text],
.woocommerce-billing-fields select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Định dạng các thông báo lỗi */
.woocommerce-billing-fields .woocommerce-invalid-required-field {
  border-color: #ff0000 !important;
}

/* Định dạng nút "Xem lại giỏ hàng" */
.woocommerce-billing-fields .wc-backward {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
}

.woocommerce-billing-fields .wc-backward:hover {
  background-color: #0056b3;
}

/* Định dạng nút "Tiếp tục thanh toán" */
.woocommerce-billing-fields .button.alt {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
  text-decoration: none;
  display: inline-block;
}

.woocommerce-billing-fields .button.alt:hover {
  background-color: #218838;
}

/* Định dạng thông báo thành công */
.woocommerce-billing-fields .woocommerce-message {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

/* Định dạng thông báo lỗi */
.woocommerce-billing-fields .woocommerce-error {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.equipment a {
  width: 100%;
  margin: 0 0 2rem;
}
@media (min-width: 768px) {
  .equipment a {
    margin: 0 1rem 2rem;
    width: calc(33.3333333333% - 2rem);
  }
}
.equipment a:hover {
  opacity: 1;
}
.equipment a:hover .post-title {
  color: #FF7A00;
}
.equipment figure {
  height: 20rem;
  overflow: hidden;
  line-height: 0;
  border-radius: 1rem;
}/*# sourceMappingURL=style.css.map */